@using Fitness.S1.Areas.Admin.ViewModels
@model DetailTrainerVM
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/@Model.PhotoUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h5 class="card-title">@Model.Specialty</h5>
        <p class="card-text">@Model.Bio</p>
    </div>
</div>